<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
<link rel="stylesheet" href="{% static 'css/photo_main.css' %}">
<title>{{ title }}</title>
</head>     
<body>
<header class="site-header">

    {% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}">Sign out</a>
    {% else %}
    <a href="{% url 'login' %}">Sign in</a>
    {% endif %}

    <h1>Gallery:</h1>
    <p>this was created to have all the drawings collected at one space</p>
    <form class="search-bar" action="{% url 'picture_search' %}" method="get">
    <label for="picture-search">
        <span>search:</span>
        <input type="search" id="picture-search" name="query" value="{{ query }}"/>
    </label>
    <input type="submit" value="let's see!" />
    </form>

</header>

{% block content %}
{% endblock %}

<footer class="site-footer">
    &copy; timkurbanov.ca 2019
</footer>
</body>
</html>