<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Photogur</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
  </head>
  <body>
    <header class="site-header">
      <a href="{% url 'root' %}">
        <h1>Photogur</h1>
      </a>
      <form class="search-form" action="{% url 'picture_search' %}" method="get">
        <label for="picture-search">
          <span>Search:</span>
          <input type="search" id="picture-search" name="query" value={{query}}>
        </label>
        <input type="submit" value="Search">
      </form>
      <nav class="site-nav">
        <ul>
          {% if request.user.is_authenticated %}
            <li>Logged in as {{ request.user.username }}</li>
            <li><a href="{% url 'user_pictures' %}">My posts</a></li>
            <li><a href="{% url 'add_picture' %}">Add a pic</a></li>
            <li><a href="{% url 'logout' %}">Log out</a></li>
          {% else %}
            <li><a href="{% url 'signup' %}">Sign up!</a></li>
            <li><a href="{% url 'login' %}">Log in</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main class="site-content">
    <!-- page-specific content goes inside the block -->
    {% block content %}
    {% endblock %}
    </main>
    <footer class="site-footer">
      Copyright 2019 TimKurbanov.ca
    </footer>
  </body>
</html>
