{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
    <main class="picturemain">
        <div class="container">
            <h2>{{picture.title}}</h2>
            <h3>{{picture.artist}}</h3>
        </div>
    
        <img src="{{picture.url}}" alt="{{picture.title}}">

        <div class="container img-comments-container">
                <h3>Comments:</h3>
                <ul class="comments">
                    {% for comment in comments %}
                        <li>
                            <p class="message">{{comment.message}}</p>
                            <p class="name">-{{comment.name}}</p>
                            <p class="date">{{comment.created_at}}</p>
                        </li>
                    {% endfor %}
                </ul>
        </div>
    </main>
{% endblock %}