{% extends 'base.html' %}
{% block content %}
<h2>{{picture.title}}</h2>
<h3>By {{picture.artist}}</h3>

<img class="shown-image" src={{picture.url}} alt={{picture.title}} />
{% if picture.user == request.user %}
  <p>
    <a class="edit-photo" href="{% url 'edit_picture' id=picture.id %}">Edit Picture</a>
  </p>
{% endif %}
<div class="comments">
  <h3>Comments:</h3>
  <ul>
    {% for comment in picture.comments.all %}
    <li>{{comment.message}}</li>
    {% endfor %}
  </ul>
  <form action="{% url 'create_comment' %}" method="post">
    {% csrf_token %}

    <fieldset>
      <legend>Submit a new comment</legend>
      <input type="hidden" name="picture" value="{{picture.pk}}">
      <input type="text" name="comment-name" placeholder="Name">
      <input type="text" name="comment-message" placeholder="Comment">
      <input type="submit" name="comment-submit" value="Submit Comment">
    </fieldset>
  </form>
</div>
{% endblock %}
