{% extends 'base.html' %}
{% block content %}
<div class="search-results">
  <h3 class="search-heading">Search results: {{pictures.count}}</h3>
  <ul class="search-list">
    {% for picture in pictures %}
      <div>
        <a href="{% url 'picture_details' id=picture.pk %}">
          <li class="search-item">
            <img src="{{picture.url}}" alt="{{picture.title}}">
            <p><span class="search-item-title">{{picture.title}}</span> by {{picture.artist}}</p>
          </li>
        </a>
      </div>
      {% endfor %}
  </ul>
</div>
{% endblock %}
